.button {
    -fx-background-color: #027faf;
    -fx-text-fill: #e7e5e5;
    -fx-background-radius: 0;
}

.button:hover {
    -fx-background-color: #003E55;
}

.button:pressed {
    -fx-background-color: #003E55;
}

.scroll-pane {
    -fx-background-color: #02030A;
}

.scroll-bar:horizontal, .scroll-bar:vertical {
    -fx-background-color: transparent;
}

.increment-button, .decrement-button {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
}

.scroll-bar:horizontal .track,
.scroll-bar:vertical .track {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-background-radius: 0em;
}

.scroll-bar:horizontal .thumb,
.scroll-bar:vertical .thumb {
    -fx-background-color: #171c20;
    -fx-background-radius: 5em;
}

.scroll-pane > .corner {
    -fx-background-color: black;
}

.show-more:hover {
    -fx-underline: true;
}

.close:hover {
    -fx-text-fill: #b5b3b3;
}

.search-box:focused {
    -fx-border-color: #6C6A6A !important;
}

.search-box:hover {
    -fx-border-color: #6C6A6A !important;
}

.nav-button:hover {
    -fx-background-color: #003E55 !important;
}